.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: black;
}
 
.stage-direction{
    font-family: 'Times New Roman';
    font-size: 18px;
    color: black;
    background-color: coral;
 
}
 
.name{  
    font-size: 18px;
    color: black;
}
 
.stage-direction:hover{
    background-color: rosybrown;
    color: blueviolet;
 
}
  
.gerald{
    color: seagreen;
}
 
.lordillingworth{
    color: cyan;
}

table {
    border: 1px solid black;
    width: 60%;
  }
 
th {
    border: 1px solid black;
    color: firebrick;
    text-align: left;
}
 
td {
    border: 1px solid black;
    color: goldenrod;
    text-align: left;
}
 
tr:nth-child(even) {
    background-color: lavender;
}